{% extends "../Structure/layout.html" %}

{% block content %}
<div class="container-fluid">
        <main class="col m-0 main-content">
            <img src="../../wwwroot/images/main_background_image.jpg" alt="1" class="background-main-image">
            <form method="post" action="/register" class="row justify-content-center">
                <div class="card col-9 register-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2>Register</h2>
                            </div>
                            <div class="col-12 form-input">
                                <input type="text" name="username" placeholder="Username" id="username">
                            </div>
                            <div class="col-12 form-input">
                                <input type="email" name="email" id="email" placeholder="E-mail">
                            </div>
                             <div class="col-12 form-input">
                                <input type="date" name="birth" id="birth" placeholder="Date of birth">
                            </div>
                            <div class="col-12 form-input">
                                <input type="password" name="password" id="password" placeholder="Password">
                            </div>
                            <div class="col-12 form-input">
                                <button type="submit" class="btn btn-primary">Registar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
{% end %}