{% extends "../Structure/layout.html" %}

{% block content %}
<div class="px-5 mt-5" >
    {% if followers %}
            <div class="row">
                <div class="col-12">
                      <h2 class="mb-3">Followers </h2>
                </div>
                {% for follower in followers %}
                    <div class="col-12">
                        <div class="notification-card d-flex flex-row align-items-center gap-3">
                               {% if follower[5] %}
                            <img src="../..{{ follower[5] }}" alt="User Image">
                            {% else %}
                            <img src="../../static/images/profile-user.png">
                            {% end %}
                            <span>{{ follower[1] }}</span>
                        </div>
                    </div>
                {% end %}
            </div>
    {% else %}
      <div class="row">
                <div class="col-12">
                      <h2>Followers</h2>
                </div>

            </div>
        <p>No followers yet.</p>
    {% end %}
      </div>
{% end %}
