{% extends "../Structure/layout.html" %}

{% block content %}
<div class="px-5 mt-5" >
    {% if notifications %}


            <div class="row">
                <div class="col-12">
                      <h2>Notifications</h2>
                </div>
                {% for notification in notifications %}
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="notification-card">
                            <span>{{ notification[1] }}</span>
                        </div>
                    </div>
                {% end %}
            </div>

    {% else %}
      <div class="row">
                <div class="col-12">
                      <h2>Notifications</h2>
                </div>

            </div>
        <p>No notifications yet.</p>
    {% end %}
      </div>
{% end %}
