{% extends "../Structure/layout.html" %}

{% block content %}
<div class="px-5 mt-5" >
    {% if subscriptions %}
            <div class="row">
                <div class="col-12">
                      <h2 class="mb-3">Subscriptions </h2>
                </div>
                {% for subscription in subscriptions %}
                    <div class="col-12 ">
                        <div class="notification-card d-flex flex-row align-items-center gap-3">
                               {% if subscription[5] %}
                            <img src="../..{{ subscription[5] }}" alt="User Image">
                            {% else %}
                            <img src="../../static/images/profile-user.png">
                            {% end %}
                            <span>{{ subscription[1] }}</span>
                        </div>
                    </div>
                {% end %}
            </div>
    {% else %}
      <div class="row">
                <div class="col-12">
                      <h2>Subscriptions</h2>
                </div>

            </div>
        <p>No subscriptions yet.</p>
    {% end %}
      </div>
{% end %}
