body{
    font-family: "Inter",sans-serif;
}

.background-main-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.main-content {
    display: flex;
    align-items: center;
    position: relative;
}

.form-input {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-input > input {
    border-radius: 10px;
}

