body{
    font-family: "Inter",sans-serif !important;
}

#side-menu{
  background-color:#D6D2C8;
}

h2{
    font-size:20px;
    color:black;
    font-family: "Itim", serif;
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-input label{
    font-size:16px;
    font-weight: 600;
    padding: 2px 0;
}

.form-input input{
    border-radius: 6px;
    border:1px solid #E0E0E0;
    padding: 5px;
    font-size:16px;
}

.btn{
    text-transform: uppercase;
    font-family: "Itim", serif;
    font-size: 14px!important;
    padding: 8px 45px!important;
}
.btn-primary{
    background-color:black!important;
    border-color:black!important;
}

.recipe-card{
    margin-bottom: 30px;
}
.recipe-card img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 10px;

}
.recipe-card span{
    margin-top:10px;
    display: block;
    font-size:18px;
    color:black;
    font-weight: 600;
    text-align: left;
}
.recipe-card p{
    color:#828282;
    font-size:16px;
    text-align: left;
}


#recipe-page .recipe-card img{
        aspect-ratio: 1/1;
        margin-right: 5%;
}

#recipe-page{
    margin:0 5%;
}

#recipe-page .recipe-card span{
    font-size:24px;
}
a{
    text-decoration: none!important;
}