{% extends "../Structure/layout.html" %}

{% block content %}
    {% if recipes %}
        <h1>Recipes</h1>
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-12 col-lg-6 col-xl-4">
                          <div class="recipe-card">
                              <a href="/recipe/{{ recipe[0] }}">
                                    {% if recipe[3] %}
                                    <img src="{{ recipe[3] }}">
                                    {% else %}
                                    <img src="/static/images/nologo.png">
                                    {% end %}
                                    <span>{{ recipe[1] }}</span>
                                    <p>{{ recipe[2] }}</p>
                              </a>
                            </div>
                    </div>
                {% end %}
            </div>
        </div>
    {% else %}
        <p>No recipes yet.</p>
    {% end %}
{% end %}
