{% extends "../Structure/layout.html" %}

{% block content %}
    {% if recipes %}

      <div class="px-5 mt-5" >
          <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                   <h2>My Recipes</h2>
              </div>
              <div class="col-auto ">
                  <a href="/create-recipe" class="btn btn-primary">Create Recipe</a>
              </div>
          </div>
          <hr/>
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-12 ">
                          <div class="my-recipe-card">
                               <a href="/recipe/{{ recipe[0] }}" class="d-flex flex-row gap-4">
                                        {% if recipe[3] %}
                                <img src="{{ recipe[3] }}">
                                {% else %}
                                <img src="/static/images/nologo.png">
                                {% end %}
                                <div>
                                  <span>{{ recipe[1] }}</span>
                                    <p>{{ recipe[2] }}</p>
                                 </div>
                               </a>
                                <div class="actions">
                                    <a href="/edit-recipe/{{ recipe[0] }}">
                                      <img src="../../static/images/edit.png">
                                    </a>
                                    <form action="/delete-recipe" method="post" >
                                        <input type="hidden" value="{{ recipe[0] }}" name="recipe_id">
                                       <button type="submit"><img src="../../static/images/delete.png"></button>
                                    </form>

                                </div>
                            </div>
                    </div>
                {% end %}
            </div>
        </div>
    {% else %}
        <p>No recipes yet.</p>
    {% end %}
{% end %}
